/**
 * NavBar Styling
 */
#about-content,
#home-content {
  padding: 0px 192px 0px 192px;
}

svg {
  display: block;
  margin: 0 auto;
  font-family: Bevan;
  font-size: 60px;
  /*text-shadow: 4px 4px teal;*/
  text-shadow: -10px 10px 0px #00e6e6,
               -20px 20px 0px #01cccc,
               -30px 30px 0px #00bdbd;
  font-size: 60px;
  font-family: 'Bevan';
  fill: url(#white-pattern);
} 

#white {
  width: 600px;
  height: 225px;
}

.navButtonsCenter {
  text-align: center;
}

.navButton {
  margin: 10px 10px 10px 10px;
}

.facebook-btn {
  color: white;
}

.facebook-btn:hover {
  color: black;
}

a.photographer-link:hover {
  color: black;
}

p.contact-footer {
  margin: 0;
  padding: 0;
  color: white;
}

p.webdevs,
p.photographers,
p.contact-footer {
  color: white;
  font-weight: 200;
  font-family: "Roboto", sans-serif; 
}

p.photographers > a,
p.webdevs > a {
  color: #01608e;
}
